{% extends 'base.html' %}

{% block title %} Task Listings{% endblock title %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active"> Task Listings</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2>Welcome<span class="text-success"> {{ user.first_name }}</span></h2>
            <p>Here are all the Task listings</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Task Created</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Completion Status</th>
                        <th scope="col">Total Points</th>
                        <th scope="col">Points Obtained</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.employee.first_name }} {{ task.employee.last_name }} ({{ task.employee }})</td>
                            <td>{{ task.event.name }}</td>
                            <td>{{ task.task_date }}</td>
                            <td>{{ task.deadline }}</td>
                            <td>{{ task.is_completed }}</td>
                            <td>{{ task.total_point }}</td>
                            <td>{{ task.point_recieved }}</td>
                            <td>
                            <a class="btn btn-light" href="{% url 'task' task.id %}">View Task</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </section>

{% endblock %}